<div class="d-flex">
    <div class="container">
        <h1>Listado de Alumnos</h1>
        <div class="card bg-dark">
            <table>
                <thead>
                    <tr class="text-light text-center h5">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>E-mail</th>
                        <th>Curso</th>
                        <th>Calificacion</th>
                        <th>Aprobado</th>
                        <th>Profesional</th>
                        <th>edad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of students" class="text-light text-center">
                        <td>{{ s.id }}</td>
                        <td>{{ s.firstName | uppercase }}</td>
                        <td>{{ s.lastName | uppercase }}</td>
                        <td>{{ s.email }}</td>
                        <td>{{ s.course }}</td>
                        <td>{{ s.mark }}</td>
                        <td *ngIf="s.approved; else reprobedTemplate"
                            [ngClass]="s.approved ? 'approved': 'disapproved'">SI</td>
                        <ng-template #reprobedTemplate>
                            <td [ngClass]="s.approved == true ? 'approved': 'disapproved'">NO</td>
                        </ng-template>
                        <td *ngIf="s.professional; else unprofessionalTemplate">
                            SI
                        </td>
                        <ng-template #unprofessionalTemplate>
                            <td>NO</td>
                        </ng-template>
                        <td>{{ s.age }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>