<aside>
    <div class="container">
        <ul class="menu-list">
            <li class="nav-item">
                <p class="nav-link active" href="#">
                    Alumnos
                </p>
                <hr>
                <ul class="menu-list">
                    <li><a href="#" class="nav-link">Matricula</a></li>
                    <li><a href="#" class="nav-link">Cursando</a></li>
                    <li><a href="#" class="nav-link">Cursos Finalizados</a></li>
                    <hr>
                    <li><a href="#" class="nav-link">Analitico</a></li>
                </ul>
            </li>
            <hr>
            <li class="nav-item">
                <p class="nav-link active" href="#">
                    Cursos
                </p>
                <hr>
                <ul class="menu-list">
                    <li><a href="#" class="nav-link">Calificaciones</a></li>
                    <li><a href="#" class="nav-link">Inscriptos por Curso</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>